html, body {
    height: 100%;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.time {
    font-size: 18px;        
    position:absolute;
    top:0px;
    right:10px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

 #intro{
   
    margin: auto;
    width: 800px;
    background-color: rgb(240, 229, 240);
    height: 250px;
    border-radius: 5px;
    border: 1px solid rgb(31, 31, 79);
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(31, 31, 79);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



h1{
    font-size: 30px;
    text-align: center;
    color: rgb(31, 31, 79);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: wrap;
}

.p {
    font-size: 15px;
    text-align: center;
    color: rgb(31, 31, 79);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 80px;
    flex-wrap: wrap;
    display: flex;
}

.start-button {
    display:flex ;
    justify-content: center;
    text-align: center;
}


#start {
    font-size: 15px;
    text-align: center;
    color: rgb(31, 31, 79);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(31, 31, 79);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(240, 229, 240);
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(31, 31, 79);
 
   
}
#start:hover {
    background-color: rgb(31, 31, 79);
    color: white;
}


/* Hide sections until they are shown via the click events */
#questions,
#final,
#highscores,
#yesornot {
    display: none;  
  } 
/* Remove bullet points from answers list */
ul.nobullets {
    list-style-type: none;
    }
    
    /* Answer button styling */
    .ansBtn,
   
    .ansBtn:active,
    .ansBtn:focus,
    .ansBtn:active:focus {
    font-size: 15px;
    text-align: center;
    color: rgb(31, 31, 79);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(31, 31, 79);
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(240, 229, 240);
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(31, 31, 79);
    margin-bottom: 5px;
    }

    .ansBtn:hover{
    background-color: rgb(31, 31, 79);
    color: white;
    }
    
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    #submit-score,
    #view-scores,
    #goback,
    #clearscores {
        color: rgb(31, 31, 79);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid rgb(31, 31, 79);
        background-color: rgb(240, 229, 240);
        padding: 10px;
        box-shadow: 2px 2px 5px rgb(31, 31, 79);
    }

    #submit-score:hover,
    #view-scores:hover,
    #goback:hover,
    #clearscores:hover {
        background-color: rgb(31, 31, 79);
        color: white;
    }



   